body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0077b6;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.profile-pic-header {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
    margin: 0 auto 10px auto;
    display: block;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 10px;
    background: white;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #023e8a;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

form {
    background: #e0f7fa;
    padding: 15px;
    border-radius: 8px;
}
input, textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}
button {
    background-color: #0077b6;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #023e8a;
}
